Django==2.2.4
gunicorn==19.9.0
djangorestframework==3.10.2
hipo-drf-exceptions==0.1.0
django-suit==0.2.26
coverage==4.5.4
http-checks==0.2.0
psycopg2==2.8.3
django-extensions==2.2.1
django-extra-fields==1.2.4
sentry-sdk==0.11.2
ipython==7.7.0
Pillow==6.1.0
