{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% block title %} {% endblock title%}

    <!-- Icons-->
    <!--[if IE]>
      <link
        rel="shortcut icon"
        href="{% static 'codebase/favicons/favicon.ico' %}"
      />
    <![endif]-->
    <link
      rel="apple-touch-icon-precomposed"
      href="{% static 'codebase/favicons/apple-touch-icon.png' %}"
    />
    <link rel="icon" href="{% static 'codebase/favicons/favicon.ico' %}" />

    <!-- Css files-->
    <link rel="stylesheet" href="{% static 'codebase/css/main.css' %}" />
    {% block extra_stylesheets %} {% endblock extra_stylesheets%}

    <!-- Fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
    />
  </head>

  <body>
    <header class="page-header">
      <div class="top-line">
        <h1 class="header-title">Hello, Sevgi (Not Dynamic ATM)</h1>
        <div class="buttons">
          <button class="header-button">
            <img
              src="{% static 'codebase/icons/magnify-glass.svg' %}"
              alt="Search icon"
            />
          </button>
          <button class="header-button">
            <img
              src="{% static 'codebase/icons/settings.svg' %}"
              alt="Settings icon"
            />
          </button>
        </div>
      </div>

      <form method="post" class="project-selection-dropdown">
        <label for="project-select" class="project-selection-dropdown-label"
          >Project</label
        >

        <select id="project-select" class="project-selection-dropdown-list">
          <option value="all">All</option>
          <option value="wolarf">Wolarf</option>
          <option value="hamster">Hamster</option>
          <option value="parrot">Parrot</option>
          <option value="spider">Spider</option>
          <option value="goldfish">Goldfish</option>
        </select>
      </form>

      <nav class="main-navigation">
        <ul class="main-navigation-item-list">
          <li class="main-navigation-item active"><a href="#">DASHBOARD</a></li>
          <li class="main-navigation-item"><a href="#">TICKETS</a></li>
          <li class="main-navigation-item"><a href="#">MILESTONES</a></li>
          <li class="main-navigation-item"><a href="#">MY PROJECTS</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
