{% extends 'codebase/base.html' %}

{% load static %}

{% block title %}
<title>Search Page</title>
{% endblock title%}

{% block extra_stylesheets %}
<link rel="stylesheet" href="{% static 'codebase/css/search.css' %}" />
{% endblock extra_stylesheets%}

{% block content %}
<form id="search-form" class="search-container" action="" method="get">
  {% csrf_token %}
  <input
    type="search"
    name="q"
    value="{{ q }}"
    class="big-search-bar"
    autocomplete="off"
  />

  <button class="glass-icon-button" type="submit">
    <img
      src="{% static 'codebase/icons/magnify-glass-red.svg' %}"
      alt="Search icon"
      class="red-search-icon"
    />
  </button>

  <div class="search-dropdowns-wrapper">
    <div class="search-dropdown">
      <label for="project-select" class="search-dropdown-label">
        Assignee
      </label>
      <select
        id="project-select"
        class="search-dropdown-list"
        form="search-form"
        name="assignee"
      >
        <option value="">All</option>
        {% for assignee_option in assignee_options %}
        <option value="{{ assignee_option.username }}">
          {{ assignee_option.get_full_name }}
        </option>
        {% endfor %}
      </select>
    </div>

    <div class="search-dropdown">
      <label for="project-select" class="search-dropdown-label">
        Resolution
      </label>
      <select
        id="project-select"
        class="search-dropdown-list"
        form="search-form"
        name="resolution"
      >
        <option value="">All</option>
        <option value="active">Active</option>
      </select>
    </div>
  </div>

  <input type="submit" value="Search" class="search-submit-button" />
</form>

<ul class="ticket-list">
  {% for result in results %}
  <li class="ticket-item-wrapper">
    <a
      href="/ticket/{{ result.project.slug }}/{{ result.ticket_id }}/"
      class="ticket-item"
    >
      <div class="status-container">
        <p class="status-item">
          <img
            src="{% static 'codebase/icons/green-dot.svg' %}"
            alt="Green dot"
          />
          In progress
        </p>

        <p class="status-item">
          <img
            src="{% static 'codebase/icons/user-icon.svg' %}"
            alt="User icon"
          />
          {{ result.assignee.full_name }}
        </p>

        <p class="status-item">
          <img
            src="{% static 'codebase/icons/red-up-arrow.svg' %}"
            alt="Red up arrow"
          />
          Priority: high
        </p>
      </div>
      <div class="ticket-details-container">
        <p class="ticket-detail-item project-name">{{ result.project.name }}</p>
        <p class="ticket-detail-item ticket-title">
          #{{ result.ticket_id }} {{ result.summary }}
        </p>
        <p class="ticket-detail-item milestone">
          {% if result.milestone %}
          {{ result.milestone }}
          {% else %} No milestone {% endif %}
        </p>
        <time class="ticket-detail-item updated-at">
          {{ result.updated_at }}
      </time>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
