{% extends 'codebase/base.html' %}

{% load static %}

{% block title %}
<title>Ticket Detail #{{ ticket.ticket_id }}</title>
{% endblock title%}

{% block extra_stylesheets %}
<link rel="stylesheet" href="{% static 'codebase/css/search.css' %}" />
{% endblock extra_stylesheets%}

{% block content %}
<form id="search-form" class="search-container" action="" method="get">
  {% csrf_token %}
  <input
    type="search"
    name="q"
    value="{{ q }}"
    class="big-search-bar"
    autocomplete="off"
  />

  <button class="glass-icon-button" type="submit">
    <img
      src="{% static 'codebase/icons/magnify-glass-red.svg' %}"
      alt="Search icon"
      class="red-search-icon"
    />
  </button>

  <div class="search-dropdowns-wrapper">
    <div class="search-dropdown">
      <label for="project-select" class="search-dropdown-label">
        Assignee
      </label>
      <select
        id="project-select"
        class="search-dropdown-list"
        form="search-form"
        name="assignee"
      >
        <option value="All">All</option>
        {% for assignee_option in assignee_options %}
        <option value="{{ assignee_option.username }}">{{ assignee_option.get_full_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="search-dropdown">
      <label for="project-select" class="search-dropdown-label">
        Resolution
      </label>
      <select
        id="project-select"
        class="search-dropdown-list"
        form="search-form"
        name="resolution"
      >
        <option value="all">All</option>
        <option value="active">Active</option>
      </select>
    </div>
  </div>

  <input type="submit" value="Search" class="search-submit-button" />
</form>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
  </tr>

  {% for result in results %}
  <tr>
    <td>
      <a href="/ticket/{{ result.project.name }}/{{ result.ticket_id }}/">
        {{ result.ticket_id }}
      </a>
    </td>
    <td>{{ result.summary }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
