{% extends 'codebase/base.html' %}

{% load static %}

{% block title %}
<title>Ticket Detail #{{ ticket.ticket_id }}</title>
{% endblock title%}

{% block extra_stylesheets %}
<link rel="stylesheet" href="{% static 'codebase/css/ticket-detail.css' %}" />
{% endblock extra_stylesheets%}

{% block content %}
<div class="ticket-content">
  <h2 class="ticket-title">#{{ ticket.ticket_id }} {{ ticket.summary }}</h2>

  <div class="ticket-post-card ticket-details-header">
    <div class="status-bar">
      <p class="status-bar-item">
        <img
          src="{% static 'codebase/icons/green-dot.svg' %}"
          alt="Green dot"
        />
        In progress
      </p>

      <p class="status-bar-item">
        <img
          src="{% static 'codebase/icons/red-up-arrow.svg' %}"
          alt="Red up arrow"
        />
        Priority: high
      </p>
    </div>

    <dl class="ticket-properties">
      <div class="property-item">
        <dt>TYPE</dt>
        <dd>Feature</dd>
      </div>

      <div class="property-item">
        <dt>CATEGORY</dt>
        <dd>General</dd>
      </div>

      <div class="property-item">
        <dt>MILESTONE</dt>
        <dd>Phase 1</dd>
      </div>

      <div class="property-item">
        <dt>ASSIGNEE</dt>
        <dd>Sevgi T</dd>
      </div>
    </dl>

    <div class="first-note">
      {{ first_note.content }}
    </div>

    <div class="reported-by">
      Reported by Efe O on 05 Jul at 18:15
    </div>
  </div>

  <ul>
    {% for note in ticket_notes %}
    <li class="ticket-post-card">
      <div class="ticket-post-author">
        <img
          src="{% static 'codebase/icons/anon-user.svg' %}"
          alt="Anonymous user picture"
          class="ticket-post-author-avatar"
        />

        <div class="ticket-post-author-details">
          <p class="ticket-post-author-name">Efe O</p>

          <time class="ticket-post-date">Today at 9:35 a.m</time>
        </div>
      </div>

      <p class="ticket-post-text">{{ note.content }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
