.search-container {
  padding: 15px;

  background-color: white;
}

.big-search-bar {
  border: 1px solid #ff4949;
  box-sizing: border-box;
  border-radius: 10px;

  text-indent: 25px;

  height: 30px;
  width: 100%;
}

.glass-icon-button {
  position: absolute;
  margin-top: -22px;
  left: 25px;
}

.search-dropdowns-wrapper {
  display: flex;
  justify-content: space-between;

  padding: 15px 0;

  border-bottom: 1px solid rgb(207, 207, 207, 0.5);
}

.search-dropdown {
  display: flex;
}

.search-dropdown-label {
  margin-right: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}

.search-dropdown-list {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;

  max-width: 60px;
}

.search-submit-button {
  background: #ff4949;
  border-radius: 10px;

  margin: 15px auto 0;
  padding: 8px 0;

  width: 140px;

  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;

  color: white;
}
/* end of search */

.ticket-list {
  padding: 15px;
}

/* .ticket-item-wrapper {
  margin-bottom: 5px;
} */

.ticket-item {
  box-shadow: 0px 2px 4px rgba(55, 55, 55, 0.08);
  border-radius: 10px;

  margin-bottom: 8px;
}

.status-container {
  display: flex;
  justify-content: space-between;

  padding: 10px 8px;

  background: #575757;

  border-radius: 10px 10px 0 0;
}

.status-item {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;

  color: white;
}

.status-item > img {
  display: inline-block;
}

.ticket-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 10px 13px;
}

.ticket-detail-item {
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;

  max-width: 145px;
}
