.breadcrumbs {
  display: flex;
}

.breadcrumb-item {
  margin-right: 5px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.05em;

  color: #b5b5b5;
}

.ticket-content {
  margin-top: 20px;
}
